# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  test:
    docker:
      # specify the version you desire here
      - image: circleci/node:10.11
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run:
          name: Install NodeJS packages
          command: yarn install --production=false
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Test React app
          command: yarn test
      - persist_to_workspace:
          root: ~/repo
          paths:
            - ./*

  build-dev:
    docker:
      - image: circleci/node:10.11
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Set FRONTEND_STAGE
          command: export FRONTEND_STAGE=`echo $FRONTEND_STAGE_DEV` && echo $FRONTEND_STAGE
      - run:
          name: Build React app
          command: yarn build
      - persist_to_workspace:
          root: ~/repo
          paths:
            - build/*

  build-prod:
    docker:
      - image: circleci/node:10.11
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Set FRONTEND_STAGE
          command: export FRONTEND_STAGE=`echo $FRONTEND_STAGE_PROD` && echo $FRONTEND_STAGE
      - run:
          name: Build React app
          command: yarn build
      - persist_to_workspace:
          root: ~/repo
          paths:
            - build/*

  deploy-dev:
    docker:
      - image: circleci/python:2.7-jessie
    working_directory: ~/repo
    steps:
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - attach_workspace:
          at: ~/repo
      - run:
          name: Deploy to S3
          command: aws s3 sync build s3://ject-frontend-dev --delete

  deploy-prod:
    docker:
      - image: circleci/python:2.7-jessie
    working_directory: ~/repo
    steps:
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - attach_workspace:
          at: ~/repo
      - run:
          name: Deploy to S3
          command: aws s3 sync build s3://ject-frontend-prod --delete

workflows:
  version: 2
  build-deploy:
    jobs:
      - test
      - build-dev:
          requires:
            - test
      - build-prod:
          requires:
            - test
          filters:
            branches:
              only: master
      - deploy-dev:
          requires:
            - test
            - build-dev
      - deploy-prod:
          requires:
            - test
            - build-prod
          filters:
            branches:
              only: master
