.weeklyChartWrapper {
  position: relative;
}

.weeklyChartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.weeklyChartAreaWrapper {
  width: 100%;
  overflow-x: scroll;
}

.dailyChartWrapper {
  position: relative;
}

.dailyChartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.dailyChartAreaWrapper {
  width: 200%;
  overflow-x: scroll;
}

.sessionChartWrapper {
  position: relative;
}

.sessionChartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.sessionChartAreaWrapper {
  width: 200%;
  overflow-x: scroll;
}
