.primaryChartWrapper {
  position: relative;
}

.primaryChartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
#primaryChartAreaWrapper {
  overflow-x: scroll;
  width: 1500px;
}

.secondaryChartWrapper {
  position: relative;
}

.secondaryChartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
#secondaryChartAreaWrapper {
  overflow-x: scroll;
  width: 1500px;
}

.thirdlyChartWrapper {
  position: relative;
}

.thirdlyChartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
#thirdlyChartAreaWrapper {
  overflow-x: scroll;
  width: 1500px;
}
.title {
  text-align: center;
}
