.primaryChartWrapper {
  position: relative;
}

.primaryChartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.primaryChartAreaWrapper {
  width: 200%;
  height: 300px;
  overflow-x: scroll;
}

.secondaryChartWrapper {
  position: relative;
}

.secondaryChartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.secondaryChartAreaWrapper {
  width: 200%;
  height: 300px;
  overflow-x: scroll;
}

.thirdlyChartWrapper {
  position: relative;
}

.thirdlyChartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.thirdlyChartAreaWrapper {
  width: 200%;
  height: 300px;
  overflow-x: scroll;
}
.title {
  text-align: center;
}
