.app {
  text-align: left;
}

.app--header {
  background-color: #edf0f2;
  font-size: calc(3px + 2vmin);
  color: white;
}

.app--content {
  background-color: #edf0f2;
  padding: 60px 20px;
  min-height: 100vh;
}

.app--footer {
  background-color: #edf0f2;
  padding: 20px;
}
